<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('navbar.ejs') %>
    <form class="build-form" action="/add-builds" method="POST">
      <div class="form-control">
        <label for="title">Build Name:</label>
        <input type="text" name="title" id="title" />
      </div>
      <div class="form-control">
        <label for="race">Your Race:</label>
        <select class="race-select" name="race" id="race">
          <option value="terran">Terran</option>
          <option value="zerg">Zerg</option>
          <option value="protoss">Protoss</option>
        </select>
      </div>
      <div class="form-control">
        <label for="enemy">Enemy Race:</label>
        <select class="enemy-select" name="enemy" id="enemy">
          <option value="terran">Terran</option>
          <option value="zerg">Zerg</option>
          <option value="protoss">Protoss</option>
        </select>
      </div>
      <div class="form-control">
        <label for="type">Build Type:</label>
        <select class="type-select" name="type" id="type">
          <option value="macro">Macro</option>
          <option value="timing-attack">Timing Attack</option>
          <option value="all-in">All In</option>
          <option value="cheese">Cheese</option>
        </select>
      </div>
      <div class="form-control">
        <label for="description">Build Order:</label>
        <textarea name="description" id="description" rows="5"></textarea>
      </div>
      <script>
        var textarea = document.getElementById('description');

        textarea.addEventListener('keydown', function (e) {
          if (e.key === 'Enter') {
            console.log('yo');
            e.preventDefault();

            var start = this.selectionStart;
            var end = this.selectionEnd;
            var value = this.value;

            this.value =
              value.substring(0, start) + '\n' + value.substring(end);

            this.selectionStart = this.selectionEnd = start + 1;
          }
        });
      </script>

      <button class="btn" type="submit">Add Build</button>
    </form>
  </body>
</html>
