<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('navbar.ejs') %>
    <form class="build-form" action="/add-builds" method="POST">
      <div class="form-control">
        <label class="build-name" for="title">Build Name:</label>
        <input type="text" name="title" id="title" />
      </div>
      <div class="form-control">
        <label for="race">Your Race:</label>
        <select class="race-select" name="race" id="race">
          <option value="T">Terran</option>
          <option value="Z">Zerg</option>
          <option value="P">Protoss</option>
        </select>
      </div>
      <div class="form-control">
        <label for="enemy">Enemy Race:</label>
        <select class="enemy-select" name="enemy" id="enemy">
          <option value="T">Terran</option>
          <option value="Z">Zerg</option>
          <option value="P">Protoss</option>
        </select>
      </div>
      <div class="form-control">
        <label for="type">Build Type:</label>
        <select class="type-select" name="type" id="type">
          <option value="Macro">Macro</option>
          <option value="Timing-Attack">Timing Attack</option>
          <option value="All-In">All In</option>
          <option value="Cheese">Cheese</option>
        </select>
      </div>
      <div class="form-control">
        <label for="description">Build Order:</label>
        <textarea name="description" id="description" rows="5"></textarea>
      </div>

      <button class="btn" type="submit">Add Build</button>
    </form>
    <script src="/css/textarea.js"></script>
  </body>
</html>
