<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Log in</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('navbar.ejs') %>
    <div class="login-container">
      <div class="login-title"><h1>Login</h1></div>

      <form action="/login" method="POST">
        <div class="login">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" />

          <label for="password">Password</label>
          <input type="password" id="password" name="password" />

          <button type="submit">Login</button>
        </div>
      </form>
      <a class="signup-button" href="/register">Sign Up</a>
      <% if (typeof errorMessage !== 'undefined') { %>
      <div class="error-message"><%= errorMessage %></div>
      <% } %>
    </div>
  </body>
</html>
