<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="nav-bar">
      <div class="nav-logo"><h1>SC2 Builds Lab</h1></div>
      <div class="nav-menu">
        <ol>
          <li><a href="/builds">Public Builds</a></li>
          <li><a href="/add-builds">Create A Build</a></li>
          <li><a href="/user-builds">View Your Builds</a></li>
          <% if (loggedIn) { %>
          <li>
            <form action="/logout" method="POST">
              <button class="logout-button" type="submit">Logout</button>
            </form>
          </li>
          <% } else { %>
          <li><a href="/login">Login</a></li>
          <% } %>
        </ol>
      </div>
      <button class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <nav class="mobile-nav">
        <li><a href="/builds">Public Builds</a></li>
        <li><a href="/add-builds">Create A Build</a></li>
        <li><a href="/user-builds">View Your Builds</a></li>
        <% if (loggedIn) { %>
        <li>
          <form action="/logout" method="POST">
            <button class="mobile-button" type="submit">Logout</button>
          </form>
        </li>
        <% } else { %>
        <li><a href="/login">Login</a></li>
        <% } %>
      </nav>
    </div>
    <script src="/css/script.js"></script>
  </body>
</html>
