<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('navbar.ejs') %>
    <h1>Sign Up</h1>
    <form action="/register" method="POST">
        <div>
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required>
        </div>
        <div>
          <label for="password" >Password</label>
          <input type="password" id="password" name="password" required>
        </div>
        
        <button action="submit">Sign Up</button>
      </form>
      <% if (successMessage) { %>
        <p class="success-message"><%= successMessage %></p>
      <% } %>
      <% if (errorMessage) { %>
        <p class="error-message"><%= errorMessage %></p>
      <% } %>
    </body>
    </html>
  </body>
</html>
