body {
  padding: 0px;
  margin: 0px;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  background-color: rgb(0, 13, 26);
  color: rgb(183, 208, 231);
}
.nav-menu ol {
  display: flex;
  list-style-type: none;
  margin-right: 50px;
}
.nav-menu li {
  padding-left: 50px;
}
.form-control {
  display: flex;
}
.builds {
  display: flex;
  flex-direction: column;
}
.build {
  display: flex;
  border-bottom: 1px solid black;
  align-items: center;
  justify-content: space-around;
}

.view {
  display: flex;
  justify-content: center;
  align-items: center;
}
.created-by {
  text-align: center;
}
.build-order {
  margin: 50px;
}
.build-description {
  line-height: 30px;
}
.thumbs-up {
  display: flex;
  align-items: center;
  margin: 50px;
}
.thumbs-up p {
  margin-left: 20px;
}
.thumbs-up button {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 5px;
}

.thumbs-up button i {
  color: black;
}

.thumbs-up button.rated i {
  color: green;
}
.add-comment form {
  display: flex;
  align-items: center;

  margin: 50px;
}
